body{
    font-family: 'Montserrat', sans-serif;
}

.boton{
    padding: 2rem;
    text-transform: uppercase;

}
.tH2{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 500;
}
.count{
    position: absolute;
    bottom: -11px;
    right: -38px;
    font-weight: 800;
    font-size: 1.5rem;
    color: rgb(182, 0, 0);
    background-color: rgb(113, 211, 113);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid rgb(17, 85, 0);
    box-shadow: 1px 1px 2px black;
    @media all and(min-width: 992px){
        bottom: -30px;
        right: -30px;
    }
}
.bg-greenlight{
    background-color: rgb(173, 253, 170);
}