#header{
    width: 100%;
    background-color: $bgdColor-black;
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
    .navBar{
        .collapse{
            ul{
                li{
                   a{
                       i.bx{
                        color: red !important;
                       }
                    }
                }
            }
        }
    }
}